# Multiple Household Data house or apartment and area prediction
[Data Source](https://www.kaggle.com/nwheeler443/london-smart-meter-analysis-of-half-hourly-data/data)

In [157]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
# import all datasets 
house = pd.read_csv('./household_power_consumption/halfhourly_dataset/block_0.csv', sep=',');
house_information = pd.read_csv('./household_power_consumption/informations_households.csv', sep=',');
acorn = pd.read_csv('./household_power_consumption/acorn_details.csv', sep=',', encoding= 'unicode_escape');

In [4]:
# LCLid from every house
house.head()

       LCLid                         tstp energy(kWh/hh)
0  MAC000002  2012-10-12 00:30:00.0000000             0
1  MAC000002  2012-10-12 01:00:00.0000000             0
2  MAC000002  2012-10-12 01:30:00.0000000             0
3  MAC000002  2012-10-12 02:00:00.0000000             0
4  MAC000002  2012-10-12 02:30:00.0000000             0

In [5]:
# ACORN information
house_information.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

# House or apartment prediction

In [45]:
house_type = acorn[35:40]
house_type

# row 37 tells how many people in an acorn group live in apartments based on national scale
# for example; ACORN-D has 2.74 times more people living in apartments

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
35,HOUSING,House Type,Bungalow,118.0,100.0,198.0,51.0,51.0,167.0,94.0,74.0,410.0,55.0,61.0,64.0,64.0,64.0,45.0,50.0,50.0
36,HOUSING,House Type,Detached house,431.0,419.0,229.0,46.0,98.0,287.0,203.0,59.0,138.0,61.0,38.0,32.0,25.0,24.0,20.0,19.0,13.0
37,HOUSING,House Type,Flat or maisonette,36.0,25.0,47.0,274.0,196.0,17.0,22.0,17.0,54.0,30.0,299.0,49.0,29.0,159.0,160.0,142.0,277.0
38,HOUSING,House Type,Semi-detached house,56.0,70.0,139.0,36.0,66.0,119.0,96.0,192.0,172.0,102.0,33.0,72.0,139.0,125.0,39.0,92.0,52.0
39,HOUSING,House Type,Terraced house,23.0,20.0,25.0,86.0,77.0,38.0,103.0,71.0,31.0,163.0,77.0,199.0,140.0,72.0,169.0,123.0,83.0

In [68]:
# calculate the probability that a household is a house or apartment for every ACORN category
a = round(house_type.iloc[2,3] / house_type["ACORN-A"].sum(), 2)
b = round(house_type.iloc[2,4] / house_type["ACORN-B"].sum(), 2)
c = round(house_type.iloc[2,5] / house_type["ACORN-C"].sum(), 2)
d = round(house_type.iloc[2,6] / house_type["ACORN-D"].sum(), 2)
e = round(house_type.iloc[2,7] / house_type["ACORN-E"].sum(), 2)
f = round(house_type.iloc[2,8] / house_type["ACORN-F"].sum(), 2)
g = round(house_type.iloc[2,9] / house_type["ACORN-G"].sum(), 2)
h = round(house_type.iloc[2,10] / house_type["ACORN-H"].sum(), 2)
i = round(house_type.iloc[2,11] / house_type["ACORN-I"].sum(), 2)
j = round(house_type.iloc[2,12] / house_type["ACORN-J"].sum(), 2)
k = round(house_type.iloc[2,13] / house_type["ACORN-K"].sum(), 2)
l = round(house_type.iloc[2,14] / house_type["ACORN-L"].sum(), 2)
m = round(house_type.iloc[2,15] / house_type["ACORN-M"].sum(), 2)
n = round(house_type.iloc[2,16] / house_type["ACORN-N"].sum(), 2)
o = round(house_type.iloc[2,17] / house_type["ACORN-O"].sum(), 2)
p = round(house_type.iloc[2,18] / house_type["ACORN-P"].sum(), 2)
q = round(house_type.iloc[2,19] / house_type["ACORN-Q"].sum(), 2)

a, b, c, o

(0.05, 0.04, 0.07, 0.37)

In [7]:
# add house or apartment column to house information dataframe
house_information["House_or_apartment"] = 0

house_information.head()

       LCLid stdorToU    Acorn Acorn_grouped     file  House_or_apartment
0  MAC005492      ToU   ACORN-        ACORN-  block_0                   0
1  MAC001074      ToU   ACORN-        ACORN-  block_0                   0
2  MAC000002      Std  ACORN-A      Affluent  block_0                   0
3  MAC003613      Std  ACORN-A      Affluent  block_0                   0
4  MAC003597      Std  ACORN-A      Affluent  block_0                   0

In [69]:
# Weighted probability that a household is a house or apartment

# ACORN-A
house_information.loc[house_information["Acorn"] == "ACORN-A", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-A"]), p=[1-a, a])

# ACORN-B
house_information.loc[house_information["Acorn"] == "ACORN-B", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-B"]), p=[1-b, b])

# ACORN-C
house_information.loc[house_information["Acorn"] == "ACORN-C", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-C"]), p=[1-c, c])

# ACORN-D
house_information.loc[house_information["Acorn"] == "ACORN-D", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-D"]), p=[1-d, d])

# ACORN-E
house_information.loc[house_information["Acorn"] == "ACORN-E", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-E"]), p=[1-e, e])

# ACORN-F
house_information.loc[house_information["Acorn"] == "ACORN-F", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-F"]), p=[1-f, f])

# ACORN-G
house_information.loc[house_information["Acorn"] == "ACORN-G", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-G"]), p=[1-g, g])

# ACORN-H
house_information.loc[house_information["Acorn"] == "ACORN-H", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-H"]), p=[1-h, h])

# ACORN-I
house_information.loc[house_information["Acorn"] == "ACORN-I", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-I"]), p=[1-i, i])

# ACORN-J
house_information.loc[house_information["Acorn"] == "ACORN-J", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-J"]), p=[1-j, j])

# ACORN-K
house_information.loc[house_information["Acorn"] == "ACORN-K", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-K"]), p=[1-k, k])

# ACORN-L
house_information.loc[house_information["Acorn"] == "ACORN-L", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-L"]), p=[1-l, l])

# ACORN-M
house_information.loc[house_information["Acorn"] == "ACORN-M", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-M"]), p=[1-m, m])

# ACORN-N
house_information.loc[house_information["Acorn"] == "ACORN-N", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-N"]), p=[1-n, n])

# ACORN-O
house_information.loc[house_information["Acorn"] == "ACORN-O", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-O"]), p=[1-o, o])

# ACORN-P
house_information.loc[house_information["Acorn"] == "ACORN-P", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-P"]), p=[1-p, p])

# ACORN-Q
house_information.loc[house_information["Acorn"] == "ACORN-Q", "House_or_apartment"] = \
np.random.choice([0, 1], len(house_information.loc[house_information["Acorn"] == "ACORN-Q"]), p=[1-q, q])

house_information.head(10)

       LCLid stdorToU    Acorn Acorn_grouped     file  House_or_apartment
0  MAC005492      ToU   ACORN-        ACORN-  block_0                   0
1  MAC001074      ToU   ACORN-        ACORN-  block_0                   0
2  MAC000002      Std  ACORN-A      Affluent  block_0                   0
3  MAC003613      Std  ACORN-A      Affluent  block_0                   0
4  MAC003597      Std  ACORN-A      Affluent  block_0                   0
5  MAC003579      Std  ACORN-A      Affluent  block_0                   0
6  MAC003566      Std  ACORN-A      Affluent  block_0                   0
7  MAC003557      Std  ACORN-A      Affluent  block_0                   0
8  MAC003553      Std  ACORN-A      Affluent  block_0                   0
9  MAC003482      Std  ACORN-A      Affluent  block_0                   0

In [17]:
# add house or apartment column to house dataframe
house["House_or_apartment"] = 0

house.head()

       LCLid                         tstp energy(kWh/hh)  House_or_apartment
0  MAC000002  2012-10-12 00:30:00.0000000             0                    0
1  MAC000002  2012-10-12 01:00:00.0000000             0                    0
2  MAC000002  2012-10-12 01:30:00.0000000             0                    0
3  MAC000002  2012-10-12 02:00:00.0000000             0                    0
4  MAC000002  2012-10-12 02:30:00.0000000             0                    0

In [27]:
# set house or apartment column for the every house in the full dataset
# loop could be optimised?

for row in house_information.itertuples():
    house['House_or_apartment'].values[house['LCLid'].values == row[1]] = row[6]
    
house.head()

       LCLid                         tstp energy(kWh/hh)  House_or_apartment
0  MAC000002  2012-10-12 00:30:00.0000000             0                    1
1  MAC000002  2012-10-12 01:00:00.0000000             0                    1
2  MAC000002  2012-10-12 01:30:00.0000000             0                    1
3  MAC000002  2012-10-12 02:00:00.0000000             0                    1
4  MAC000002  2012-10-12 02:30:00.0000000             0                    1

# Area of residence prediction

In [28]:
house["Area_of_residence"] = 0
house.head()

,LCLid,tstp,energy(kWh/hh),House_or_apartment,Area_of_residence
0,MAC000002,2012-10-12 00:30:00.0000000,0,1,0
1,MAC000002,2012-10-12 01:00:00.0000000,0,1,0
2,MAC000002,2012-10-12 01:30:00.0000000,0,1,0
3,MAC000002,2012-10-12 02:00:00.0000000,0,1,0
4,MAC000002,2012-10-12 02:30:00.0000000,0,1,0

In [162]:
house_information["Area_of_residence"] = 0
house_information.head()

,LCLid,stdorToU,Acorn,Acorn_grouped,file,House_or_apartment,Area_of_residence
0,MAC005492,ToU,ACORN-,ACORN-,block_0,0,0
1,MAC001074,ToU,ACORN-,ACORN-,block_0,0,0
2,MAC000002,Std,ACORN-A,Affluent,block_0,0,0
3,MAC003613,Std,ACORN-A,Affluent,block_0,0,0
4,MAC003597,Std,ACORN-A,Affluent,block_0,0,0

In [70]:
# house size (number of bedrooms) available from acorn data
# london houses are smaller than average

house_size = acorn[46:51]
house_size

# 1 bedroom = 40-70 m^2
# 2 bedrooms = 65-92 m^2
# 3 bedrooms = 88–120 m^2
# 4 bedrooms = 100-200 m^2
# 5+ bedrooms = 170-300 m^2

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
46,HOUSING,House Size,Number of Beds : 1,29.0,23.0,32.0,223.0,133.0,37.0,30.0,17.0,78.0,53.0,262.0,50.0,56.0,295.0,153.0,66.0,260.0
47,HOUSING,House Size,Number of Beds : 2,27.0,28.0,72.0,113.0,124.0,78.0,72.0,47.0,141.0,116.0,107.0,115.0,84.0,132.0,164.0,103.0,153.0
48,HOUSING,House Size,Number of Beds : 3,43.0,71.0,109.0,60.0,73.0,111.0,112.0,146.0,94.0,104.0,45.0,115.0,137.0,72.0,71.0,121.0,63.0
49,HOUSING,House Size,Number of Beds : 4,302.0,348.0,160.0,114.0,115.0,144.0,158.0,109.0,64.0,89.0,90.0,60.0,50.0,22.0,43.0,57.0,31.0
50,HOUSING,House Size,Number of Beds : 5 plus,838.0,329.0,149.0,162.0,131.0,131.0,125.0,88.0,43.0,72.0,390.0,63.0,35.0,16.0,45.0,36.0,17.0

In [177]:
# calculate the probability that a household is a house or apartment for every ACORN category
acorn = ["ACORN-A", "ACORN-B", "ACORN-C", "ACORN-D", "ACORN-E", "ACORN-F", "ACORN-G", 
         "ACORN-H", "ACORN-I", "ACORN-J", "ACORN-K", "ACORN-L", "ACORN-M", "ACORN-N", 
         "ACORN-O", "ACORN-P", "ACORN-Q"]

def predict_area(acornx):
    if acornx in acorn:
        index = acorn.index(acornx)
    else:
        return 65   # average house size in London
        
    bed = []
    
    # create weighted distribution based on acorn
    for row in range(0,5):
        bed.append(round(house_size.iloc[row,index+3] / house_size[acorn[index]].sum(), 2))

    # sum has to be 1
    while sum(bed) != 1:
        if sum(bed) > 1:
            bed[4] -= 0.01
        else:
            bed[4] += 0.01

    # randomly select amount of bedrooms
    amount_bed = np.random.choice(np.arange(1, 6), p=[bed[0], bed[1], bed[2], bed[3], bed[4]])
    
    # randomly return size of house/apartment based on amount of bedrooms
    if amount_bed == 1:
        return random.randint(40,70)
    elif amount_bed == 2:
        return random.randint(65,92)
    elif amount_bed == 3:
        return random.randint(88,120)
    elif amount_bed == 4:
        return random.randint(100,200)
    else:
        return random.randint(170,300)

# loop every house id in the house_information dataframe and add area_of_residence value
for row in house_information.itertuples():    
    house_information.loc[row.Index, 'Area_of_residence'] = predict_area(row[3])

house_information.head(10)

,LCLid,stdorToU,Acorn,Acorn_grouped,file,House_or_apartment,Area_of_residence
0,MAC005492,ToU,ACORN-,ACORN-,block_0,0,65
1,MAC001074,ToU,ACORN-,ACORN-,block_0,0,65
2,MAC000002,Std,ACORN-A,Affluent,block_0,0,247
3,MAC003613,Std,ACORN-A,Affluent,block_0,0,267
4,MAC003597,Std,ACORN-A,Affluent,block_0,0,227
5,MAC003579,Std,ACORN-A,Affluent,block_0,0,162
6,MAC003566,Std,ACORN-A,Affluent,block_0,0,206
7,MAC003557,Std,ACORN-A,Affluent,block_0,0,197
8,MAC003553,Std,ACORN-A,Affluent,block_0,0,231
9,MAC003482,Std,ACORN-A,Affluent,block_0,0,187

In [178]:
# save file
house_information.to_csv('./household_power_consumption/acorn_details_enriched.csv')